.video {
  width: 1448px;
  margin: 0 auto 105px auto;
  padding: 78px 137px 63px 137px;
  background: #f9f9f9;

  @media (max-width: 1500px) {
    width: 1400px;
  }

  @media (max-width: 1450px) {
    width: 1130px;
    padding: 50px 20px;
  }

  @media (max-width: 1200px) {
    width: 840px;
    margin-bottom: 70px;
    padding: 30px 20px;
  }

  @media (max-width: 900px) {
		max-width: 640px;
	}

  @media (max-width: 700px) {
    width: 400px;
    margin-bottom: 50px;
  }

  @media (max-width: 400px) {
		max-width: 300px;
	}

  &-container {
    width: 1150px;
    margin: 0 auto;

    @media (max-width: 1450px) {
      width: 1090px;
    }

    @media (max-width: 1200px) {
      width: 800px;
    }

    @media (max-width: 900px) {
      width: 600px;
    }

    @media (max-width: 700px) {
      width: 340px;
    }

    @media (max-width: 400px) {
      width: 280px;
    }
  }

  &-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;

    @media (max-width: 1200px) {
      margin-bottom: 40px;
    }

    @media (max-width: 900px) {
      margin-bottom: 30px;
    }
  }

  &__header {
    font-family: 'SF Pro', serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #222222;

    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: 30px;
    }

    @media (max-width: 900px) {
      font-size: 26px;
      line-height: 30px;
    }

    @media (max-width: 700px) {
      font-size: 24px;
      line-height: 27px;
    }

    @media (max-width: 400px) {
      font-size: 22px;
    }
  }
}

.video-slider {
  &-wrapper {
    position: relative;
    width: 100%;
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 39px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    cursor: pointer;

    @media (max-width: 700px) {
      width: 30px;
      height: 30px;
    }
  }

  &__arrow--left {
    & .icon-arrow {
      display: block;
      transform: rotate(90deg);

      &:before {
        color: #4D4D4D;
      }
    }
  }

  &__arrow--right {
    & .icon-arrow {
      display: block;
      transform: rotate(-90deg);

      &:before {
        color: #4D4D4D;
      }
    }
  }

  &__item {
    width: 560px !important;
    height: 315px !important;
    margin-right: 25px;

    @media (max-width: 1450px) {
      width: 540px !important;
    }

    @media (max-width: 1200px) {
      width: 400px !important;
      height: 200px !important;
      margin-right: 20px;
    }

    @media (max-width: 900px) {
      width: 300px !important;
      height: 200px !important;
      margin-right: 20px;
    }

    @media (max-width: 700px) {
      width: 340px !important;
      height: 180px !important;
    }

    @media (max-width: 400px) {
      width: 280px !important;
      height: 160px !important;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}
