<div class="header-container">
  <div class="header">
    <div class="header-top-wrapper">
      <div class="header-top">
        <div class="header-top-left">
          <a href="#" class="header-top-left__city icon-arrow"
            >Санкт-Петербург</a
          >
          <a href="tel:+78126135838" class="header-top-left__phone"
            >+7 (812) 613-58-38</a
          >
          <span class="header-top-left__text"
            >Пн–пт 10:00–19:00, сб-вс 10:00–17:00</span
          >
        </div>
        <div class="header-top-right">
          <a href="#" class="header-top-right__send">Напишите нам</a>
          <a href="#" class="header-top-right__contact"
            >Свяжитесь с директором</a
          >
          <div class="header-top-right-social social">
            <a href="#" class="social__item social__item-tel icon-telegram"></a>
            <a href="#" class="social__item social__item-skype icon-skype"></a>
            <a href="#" class="social__item social__item-viber icon-viber"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-wrapper">
      <div class="header-middle">
        <a href="#" class="header-middle__logo">
          <img src="../img/logo.svg" alt="logo" />
        </a>
        <span class="header-middle__text"
          >Ваш эксперт на рынке
          <span class="header-middle__text--red">3D</span>-техники</span
        >
        <a href="#" class="header-middle__rating"></a>
        <form class="header-middle__form">
          <input
            class="header-middle__input"
            type="text"
            placeholder="Введите запрос, например, Formlabs Form 2"
          />
          <button class="header-middle__find-button">Найти</button>
        </form>
        <button class="header-middle__signin-button">
          <i class="icon-signin"></i>
          Войти
        </button>
        <button class="header-middle__cart-button">
          <i class="icon-basket"></i>
          Корзина пуста
        </button>
      </div>
      <div class="header-main-menu main-menu">
        <ul class="main-menu__list">
          <li>
            <a href="#" class="main-menu__link">Акции</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">О нас</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Мероприятия</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Оплата и доставка</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Что с моим заказом?</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Гос. закупки</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Блог</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Мастер-классы</a>
          </li>
          <li>
            <a href="#" class="main-menu__link">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-bottom-menu products-menu">
      <div class="products-menu-wrapper">
        <ul class="products-menu__list">
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">3D-принтеры</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">3D-сканеры</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Станки</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Роботы</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Образование</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Стоматологам</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Гаджеты</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Материалы</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">ПО</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Решения</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Учебный центр</a>
            <i class="icon-arrow"></i>
          </li>
          <li class="products-menu__item">
            <a href="#" class="products-menu__link">Услуги</a>
            <i class="icon-arrow"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
