// GLOBAL STYLES
@import "variables";
@import "normalize";
@import "font";

// plugins
@import "plugins/icomoon";
@import "plugins/slick.scss";


// BLOCKS STYLE
@import "blocks/header";
@import "blocks/main-menu";
@import "blocks/products-menu";
@import "blocks/about";
@import "blocks/articles";
@import "blocks/video";

body {
	position: relative;
	font-family: $font-family;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	min-width: 320px;
	color: #000;
}

.container {
	width: 1234.46px;
	margin: 0 auto;
	
	@media (max-width: 1450px) {
		max-width: 1160px;
		padding: 0 15px;
	}

	@media (max-width: 1200px) {
		max-width: 870px;
	}

	@media (max-width: 900px) {
		max-width: 670px;
	}

	@media (max-width: 700px) {
		max-width: 360px;
		padding: 0 10px;
	}

	@media (max-width: 400px) {
		max-width: 300px;
		padding: 0 10px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	opacity: 0;
}
